body {
    padding: 50px;
}


h2,
h3 {
    text-align: center;
}

.controls {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.controls>* {
    width: 200px;
}

.controls button {
    width: 220px;
}

#ready_files {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}